body {
    font-family: 'Poppins', sans-serif;
    background-color: #E2F3FB;
    margin: 0;
    padding: 0;
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Blur effect */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* max-width: 600px; */
    margin: auto;
    text-align: center;
    /* width: 100%; */
}

/* Headings */
h1, h2 {
    color: #027AA8;
    margin-bottom: 20px;
}

/* Form Elements */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #027AA8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #015f85;
}
/* #loginForm
{
    width:120%;
} */
/* Role Tabs */
.role-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.role-tab {
    background-color: #a9a7a7;
    border: none;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.role-tab.active {
    background-color: #027AA8;
    color: #fff;
}

.role-tab:hover {
    background-color: #015f85;
    color: white;
}

/* Authentication Section */
#auth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#auth-section ul li {
    margin: 0 10px;
}

#auth-section ul li a {
    text-decoration: none;
    color: #027AA8;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#auth-section ul li a.active,
#auth-section ul li a:hover {
    background-color: #027AA8;
    color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        margin: 30px auto;
    }

    #auth-section ul li {
        margin: 0 5px;
    }
}
/* .clubRegister
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20px;
}
.memberBox
{
    display: flex;
    gap:20px;
} */

